<script>
import { useUserStore } from '../../stores/user';
import Logout from "../atoms/buttons/Logout.vue";

export default {
    components: {
      Logout,
    },
    data() {
        return {
          userName: null,
        }
    },
    beforeMount() {
      const userStore = useUserStore();
      this.userName = userStore.currentUser.user.name;

    },  
    computed: {
        isAuthRequired() {
            return this.$route.meta.authRequired;
        }
    },
    methods: {
        search(event) {
            this.$router.push({ name: 'searchList', query: { search: event.target.value } });
        },
        logout() {
            const userStore = useUserStore();
            axios.post("/api/logout", {
                email: this.email,
                password: this.password
            }, {
                headers: {
                    'Authorization': `Bearer ${userStore.currentUser.access_token}`
                }
            }).then(() => {
                userStore.removeUser();
                this.$router.push({ name: 'login' })
            })
        }
    },
}
</script>

<template>
  <nav 
    class="hidden md:flex lg:flex xl:flex justify-center h-[50px] bg-green-600 dark:bg-black"
  >
    <div class="w-[1240px] flex items-center justify-between">
      <div class="flex text-lg items-center justify-between md:mx-10 text-white">
        Welcome {{ userName }} !
      </div>

      <div class="flex justify-between text-white md:mx-10">
        <button
          type="button"
          class="p-[10px] bg-blue-800 rounded-xl text-lg text-white mr-5"
        >
        <router-link :to="{ name: 'transactionListView' }">
          Transactions
        </router-link>
        </button>
        <Logout />
      </div>

    </div>
  </nav>

</template>
