<script>
import { useUserStore } from '../../stores/user';
import Logout from "../atoms/buttons/Logout.vue";

export default {
    components: {
        Logout,
    },
    data() {
        return {}
    },
    computed: {
        isAuthRequired() {
            return this.$route.meta.authRequired;
        }
    },
    methods: {
        search(event) {
            this.$router.push({ name: 'searchList', query: { search: event.target.value } });
        },
        logout() {
            const userStore = useUserStore();
            axios.post("/api/logout", {
                email: this.email,
                password: this.password
            }, {
                headers: {
                    'Authorization': `Bearer ${userStore.currentUser.access_token}`
                }
            }).then(() => {
                userStore.removeUser();
                this.$router.push({ name: 'login' })
            })
        }
    },
}

</script><template>
    <nav
        class="flex flex-col md:hidden lg:hidden xl:hidden justify-center bg-green-600"
    >
        <div class="py-2 pr-5 text-right ">
            <Logout />
        </div>
    </nav>
</template>
