<template>
        <button class="bg-yellow-400 w-fit p-2 rounded-md">
            <router-link :to="{ name: 'userTransactionCreate' }">
                Create New Transaction
            </router-link>
        </button>
</template>>