<script>
import { useUserStore } from '../../../stores/user';

export default {
    computed: {
        isAuthRequired() {
            return this.$route.meta.authRequired;
        },
    },
    methods: {
        logout() {
            const userStore = useUserStore();
            axios
                .post(
                    "/api/logout",
                    {
                        email: this.email,
                        password: this.password,
                    },
                    {
                        headers: {
                            Authorization: `Bearer ${userStore.currentUser.access_token}`,
                        },
                    }
                )
                .then(() => {
                    userStore.removeUser();
                    this.$router.push({ name: "login" });
                });
        },
    },
};
</script>

<template>
    <button
        type="button"
        class="p-[10px] bg-blue-800 rounded-xl text-white"
        @click="logout"
    >
        Logout
    </button>
</template>
