<script>
export default {
    emits: ["searchTrigger"],
    data() {
        return {
            search: null,
        };
    },
    methods: {
        applySearch() {
            this.$emit("searchTrigger", this.search);
        },
    },
};
</script>

<template>
    <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/5 xs:w-4/5 sm:w-3/5 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search"
        v-model="search"
        @change="applySearch"
    />
</template>
