<style>
#table-transaction,
#table-transaction tr,
#table-transaction th,
#table-transaction td {
    border: 1px solid black;
}

#table-transaction th,
#table-transaction td {
    padding: 10px;
}
</style>

<script>
import axios from "axios";
import { useUserStore } from "../../stores/user";
import NavBar from "../../components/organisms/Navbar.vue";
import NavBarMobile from "../../components/organisms/NavbarMobile.vue";
import CreateTransaction from "../../components/atoms/buttons/CreateTransaction.vue";
import Search from "../../components/molecules/Search.vue";
import UserBalance from "../../components/atoms/texts/UserBalance.vue";
import { defineComponent } from "vue";

export default defineComponent({
    components: {
        NavBar,
        NavBarMobile,
        CreateTransaction,
        Search,
        UserBalance,
    },
    data() {
        return {
            sortUser: "asc",
            sortCode: "asc",
            sortType: "asc",
            sortAmount: "asc",
            sortDescription: "asc",
            sortDate: "asc",
            data: null,
            page: 1,
            user: null,
            search: null,
            filter: 'code',
            order: 'desc',
            url: null,
            totalPage: 0,
        };
    },
    beforeMount() {
        this.loadData();
    },
    methods: {
        formatDate(createdAt) {
            const date = new Date(createdAt);
            return date.toLocaleDateString();
        },
        changePage(page) {
            this.page = page;
            this.loadData();
        },
        handleSearch(val) {
            const userStore = useUserStore();
            let urlData = `/api/user/transaction/search`;
            if (val) {
                this.search = val;
                let filter = this.filter ? this.filter : "code";
                let order = this.order ? this.order : "desc";
                urlData += `?search=${val}&filter=${filter}&order=${order}`;
            } else {
                this.search = null;
            }

            axios
                .get(urlData, {
                    headers: {
                        Authorization: `Bearer ${userStore.currentUser.access_token}`,
                    },
                })
                .then((response) => {
                    this.data = response.data.data;
                    this.totalPage = response.data.last_page;
                });

        },
        orderByUser() {
            this.sortUser = this.sortUser === "asc" ? "desc" : "asc";
            this.filter = "user_id";
            this.order = this.sortUser;
            this.loadData();
        },
        orderByCode() {
            this.sortCode = this.sortCode === "asc" ? "desc" : "asc";
            this.filter = "code";
            this.order = this.sortCode;
            this.loadData();
        },
        orderByType() {
            this.sortType = this.sortType === "asc" ? "desc" : "asc";
            this.filter = "type";
            this.order = this.sortType;
            this.loadData();
        },
        orderByAmount() {
            this.sortAmount = this.sortAmount === "asc" ? "desc" : "asc";
            this.filter = "amount";
            this.order = this.sortAmount;
            this.loadData();
        },
        orderByDescription() {
            this.sortDescription = this.sortDescription === "asc" ? "desc" : "asc";
            this.filter = "description";
            this.order = this.sortDescription;
            this.loadData();
        },
        orderByDate() {
            this.sortDate = this.sortDate === "asc" ? "desc" : "asc";
            this.filter = "created_at";
            this.order = this.sortDate;
            this.loadData();
        },
        loadData() {
            const userStore = useUserStore();
            let urlData = `/api/user/transaction?page=${this.page}`;
            let filter = this.filter ? this.filter : "code";
            let order = this.order ? this.order : "desc";
            urlData += `&filter=${filter}&order=${order}`;
            if (this.search) {
                urlData += `&search=${this.search}`;
            }
            this.user = userStore.currentUser.user;

            axios
                .get(urlData, {
                    headers: {
                        Authorization: `Bearer ${userStore.currentUser.access_token}`,
                    },
                })
                .then((response) => {
                    this.data = response.data.transactions.data;
                    this.totalPage = response.data.transactions.last_page;
                    this.url = response.data.base_url;
                });
        },
    },
});
</script>

<template>
    <NavBar />
    <NavBarMobile />
    <div class="w-full">
        <div class="flex flex-col mt-[50px] p-2 w-2/3 mx-auto">
            <CreateTransaction /><br/>
            <UserBalance :balance="user.balance" /> <br/>
            <Search @executeSearch="handleSearch" />
            Sort by: {{ this.filter }} <br />
            Order: {{ this.order }}
            <div class="mt-2">
                <table id="table-transaction" class="w-full">
                    <thead>
                        <tr>
                            <th>
                                Code &nbsp;&nbsp;&nbsp;
                                <i
                                    v-if="this.sortCode === 'asc'"
                                    class="fa fa-caret-up"
                                    aria-hidden="true"
                                    @click="orderByCode"
                                ></i>
                                <i
                                    v-if="this.sortCode === 'desc'"
                                    class="fa fa-caret-down"
                                    aria-hidden="true"
                                    @click="orderByCode"
                                ></i>
                            </th>
                            <th>
                                Type &nbsp;&nbsp;&nbsp;
                                <i
                                    v-if="this.sortType === 'asc'"
                                    class="fa fa-caret-up"
                                    aria-hidden="true"
                                    @click="orderByType"
                                ></i>
                                <i
                                    v-if="this.sortType === 'desc'"
                                    class="fa fa-caret-down"
                                    aria-hidden="true"
                                    @click="orderByType"
                                ></i>
                            </th>
                            <th>
                                Amount &nbsp;&nbsp;&nbsp;
                                <i
                                    v-if="this.sortAmount === 'asc'"
                                    class="fa fa-caret-up"
                                    aria-hidden="true"
                                    @click="orderByAmount"
                                ></i>
                                <i
                                    v-if="this.sortAmount === 'desc'"
                                    class="fa fa-caret-down"
                                    aria-hidden="true"
                                    @click="orderByAmount"
                                ></i>
                            </th>
                            <th>
                                Description &nbsp;&nbsp;&nbsp;
                                <i
                                    v-if="this.sortDescription === 'asc'"
                                    class="fa fa-caret-up"
                                    aria-hidden="true"
                                    @click="orderByDescription"
                                ></i>
                                <i
                                    v-if="this.sortDescription === 'desc'"
                                    class="fa fa-caret-down"
                                    aria-hidden="true"
                                    @click="orderByDescription"
                                ></i>
                            </th>
                            <th>File</th>
                            <th>
                                Date &nbsp;&nbsp;&nbsp;
                                <i
                                    v-if="this.sortDate === 'asc'"
                                    class="fa fa-caret-up"
                                    aria-hidden="true"
                                    @click="orderByDate"
                                ></i>
                                <i
                                    v-if="this.sortDate === 'desc'"
                                    class="fa fa-caret-down"
                                    aria-hidden="true"
                                    @click="orderByDate"
                                ></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, index) in data">
                            <td>{{ value.code }}</td>
                            <td>{{ value.type }}</td>
                            <td>{{ value.amount }}</td>
                            <td>{{ value.description }}</td>
                            <td>
                                <a class="text-blue-500" v-if="value.file !== null" target="_blank" :href="this.url + '/' + value.file">{{ value.file }}</a>
                            </td>
                            <td>{{ formatDate(value.created_at) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex justify-center mt-3">
                <button
                    v-for="index in totalPage"
                    :key="index"
                    class="border-[1px] border-black py-1 px-3"
                    @click="changePage(index)"
                >
                    {{ index }}
                </button>
            </div>
        </div>
    </div>
</template>
