<script>
import Editor from '@tinymce/tinymce-vue';
import { useVuelidate } from "@vuelidate/core";
import { useUserStore } from '../../stores/user';
import { required } from "@vuelidate/validators";
import NavBar from "../../components/organisms/Navbar.vue";
import NavBarMobile from "../../components/organisms/NavbarMobile.vue";

export default {
    components: {
        NavBar,
        NavBarMobile,
        'editor': Editor
    },
    validations() {
        return {
            type: { required },
            amount: { required },
        }
    },
    data() {
        return {
            v$: useVuelidate(),
            type: 'top-up',
            amount: null,
            description: null,
            uploadFile: null,
        }
    },
    methods: {
        onFileChange(e){
                this.file = e.target.files[0];
            },        
        handleSubmit() {
            this.v$.$validate();
            if (this.v$.$error) {
                return;
            } else {
                const userStore = useUserStore();
                const config = {
                    headers: { 
                        'Authorization': `Bearer ${userStore.currentUser.access_token}`,
                        'content-type': 'multipart/form-data'  
                    }
                }

                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('type', this.type);
                formData.append('amount', this.amount);
                formData.append('description', this.description);

                axios.post("/api/user/transaction", formData, config).then((response) => {
                    const currentUser = userStore.currentUser;
                    let balance1 = parseFloat(currentUser.user.balance);
                    let balance2 = parseFloat(this.amount);
                    currentUser.user.balance = balance1 + balance2
                    userStore.addUser(currentUser);
                    this.$router.push({ name: 'transactionListView' });
                }).catch((error) => console.log(error));
            }
        }
    },
}
</script>

<template>
    <NavBar />
    <NavBarMobile />
    <div class="w-full">
        <div class="flex flex-col mt-[50px] p-2 w-2/3 mx-auto">
        <p v-if="v$.type.$error">{{ v$?.type.$errors[0].$message }}</p>
        <form @submit.prevent="handleSubmit" enctype="multipart/form-data">
            Jenis Transaksi: <br/>
            <select v-model="type" class="border-2 border-black p-2">
                <option value="top-up">Top up</option>
                <option value="transaksi">Transaksi</option>
            </select>
            <br/><br/>
            Nominal: <br/>
            <input type="text" class="border-2 border-black p-2" placeholder="Amount" v-model="amount">
            <p v-if="v$.amount.$error" class="text-rose-500">{{ v$?.amount.$errors[0].$message }}</p>
            <br/><br/>
            Bukti transaksi: <br/>
            <input type="file" class="form-control" v-on:change="onFileChange" name="fileUpload" >
            <br/><br/>
            <editor :disabled="type === 'transaksi'" v-model="description" api-key="e1qumxphhc5thabmjghru8dz8vqjfvcmdl9401y8td6uf0c2" />
            <br/><br/>
            <button type="submit" class="bg-blue-400 p-2 rounded-md">Submit</button>
        </form>
    </div>
    </div>
</template>