<template>
<div class="bg-yellow-400 dark:bg-gray-800 h-screen overflow-hidden flex items-center justify-center">
  <div class="bg-white xl:w-4/12 lg:w-6/12 md:7/12 w-8/12 shadow-3xl rounded-xl">
    <form @submit.prevent="handleSubmit" class="p-12 md:p-24">
    <span v-if="v$.email.$error" class="italic text-[12px] text-rose-500">
        {{ v$.email.$errors[0].$message }}
    </span>
      <div class="flex items-center text-lg mb-6 md:mb-8">
        <i class="absolute ml-3 fa-solid fa-envelope"></i>
        <input type="text" id="email" class="bg-gray-200 rounded pl-12 py-2 md:py-4 focus:outline-none w-full" placeholder="Email" v-model="email" />
      </div>

      <span v-if="v$.password.$error" class="italic text-[12px] text-rose-500">
            {{ v$.password.$errors[0].$message }}
        </span>
      <div class="flex items-center text-lg mb-6 md:mb-8">
        <i class="absolute ml-3 fas fa-lock"></i>
        <input type="password" id="password" class="bg-gray-200 rounded pl-12 py-2 md:py-4 focus:outline-none w-full" placeholder="Password" v-model="password" />
      </div>
      <button class="bg-blue-800 rounded-xl font-medium p-2 md:p-4 text-white uppercase w-full">Login</button>
      
        <div class="flex items-center mb-6 md:mb-8 italic text-[12px] text-blue-400 mt-5">
            <router-link to="/register"><u>Register New User</u></router-link>
        </div>

    </form>
  </div>
 </div>    
</template>
<script>
import { useUserStore } from "../stores/user";
import { useVuelidate } from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";

export default {
    data() {
        return {
            v$: useVuelidate(),
            email: '',
            password: ''
        }
    },
    validations() {
        return {
            email: { required, email },
            password: { required }
        }
    },
    mounted: () => {
        const userStore = useUserStore();
    },
    methods: {
        handleSubmit() {
            this.v$.$validate();
            if (this.v$.$error) {
                return;
            } else {
                const userStore = useUserStore();
                axios.post("/api/login", {
                    email: this.email,
                    password: this.password
                }).then((response) => {
                    const data = response.data.data;
                    userStore.addUser(data);
                    this.$router.push({ name: 'transactionListView' });
                })
            }
        }
    },
    beforeCreate() {
        const userStore = useUserStore();
        if (userStore.currentUser.access_token) {
            this.$router.push({ name: 'transactionListView' });
        }
    },
}

</script>