<script>
import SearchTransaction from "../atoms/inputs/SearchTransaction.vue"
 import { defineComponent } from "vue";

 export default defineComponent({
    components: {
        emits: ["searchTrigger"],
        SearchTransaction,
    },
    methods: {
        handleSearch(value) {
            this.$emit("executeSearch", value)
        }
    }
 })
</script>

<template>
    Search: <br/>
    <SearchTransaction @search-trigger="handleSearch" />
</template>